:root {
    --primary-color:#F2B441;
    --second-color:#f2cb05;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #010D00;
    
}


h1{
    color: var(--primary-color) !important;
    font-size: 50px;
    font-family: "Pacifico", cursive;
}

.btn-primary{
    border-color:var(--primary-color)!important;
    background-color:var(--primary-color)!important;
}

.btn-primary:hover{
    border-color:var(--second-color)!important;
    background-color:var(--second-color)!important;
}

@keyframes bubble {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-1200%);
        opacity: 0;
    }
}

.card {
    width: 100%;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}



#bubble span {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    bottom: 0;
    /* animation: bubble 10s infinite; */

}

#bubble{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#walletInfo {
    background-color: #735620;
    color: white;
    border-radius: 10px;
}

section {
    width: 600px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px !important;
}